{% extends "layout.html" %}


{% block content %}
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    main {
      flex: 1;
    }
  </style>


  <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Duranz Flower Dropping Drone</h1>
        <p class="lead text-muted">The Perfect Drone for Aerial Flower Dropping</p>
    </div>
</section>

  <main class="container my-5">
    <div class="row">
      <div class="col-lg-4 ">
        <div class="card mb-4 shadow-lg p-3 mb-5 bg-body rounded">
          <img src="{{ url_for('static', filename='images/kunal1.jpg') }}" class="card-img-top" alt="Variant 1 Image">
          <div class="card-body">
            <h2 class="card-title">Variant 1: DJI Naza v2</h2>
            <ul class="list-unstyled">
              <li>Frame: F450</li>
              <li>Motors: ReadyToSky 920 KV</li>
              <li>Flight Controller: DJI Naza v2</li>
              <!-- Add more specifications here -->
            </ul>
            <p class="lead text-center mb-0">$XXXX</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card mb-4 shadow-lg p-3 mb-5 bg-body rounded">
          <img src="{{ url_for('static', filename='images/kunal1.jpg') }}" class="card-img-top" alt="Variant 2 Image">
          <div class="card-body">
            <h2 class="card-title">Variant 2: Pixhawk 2.4.8</h2>
            <ul class="list-unstyled">
              <li>Frame: F550</li>
              <li>Motors: DJI motors</li>
              <li>Flight Controller: Pixhawk 2.4.8</li>
              <!-- Add more specifications here -->
            </ul>
            <p class="lead text-center mb-0">$XXXX</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card mb-4 shadow-lg p-3 mb-5 bg-body rounded">
          <img src="{{ url_for('static', filename='images/kunal1.jpg') }}" class="card-img-top" alt="Variant 3 Image">
          <div class="card-body">
            <h2 class="card-title">Variant 3: DJI Naza M lite</h2>
            <ul class="list-unstyled">
              <li>Frame: ZD 850 carbon fiber</li>
              <li>Motors: ReadyToSky 920 KV</li>
              <li>Flight Controller: DJI Naza M lite</li>
              <!-- Add more specifications here -->
            </ul>
            <p class="lead text-center mb-0">$XXXX</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  {% endblock %}
