{% extends "layout.html" %}


{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to Duranz</h1>
    <p class="lead h5">Empowering Businesses with Cutting-Edge Software Solutions</p>
  </div>
</section>
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Expertise in <span class="text-muted">Backend Technologies</span></h2>
      <p class="lead">Are you looking for a backend development partner that you can trust? We're here to help! We have a team of experienced backend developers who are experts in building scalable, secure, and reliable systems. We can help you with all of your backend needs, from design and development to deployment and maintenance.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/free-photo/rear-view-programmer-working-all-night-long_1098-18697.jpg?w=996&t=st=1691399816~exp=1691400416~hmac=e0e57b0828b1317cf1748b11e35b5d50e78ffa81deb093990c741dd60533cb2d"
        data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Customized <span class="text-muted">Solutions</span></h2>
      <p class="lead"> We understand that every business has unique requirements. That's why we take a personalized approach to every project we undertake. We work closely with our clients to understand their specific needs and tailor our solutions accordingly. Whether you need a custom web application, an API integration, or a robust content management system, we've got you covered.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/free-photo/configuration-operation-splution-system-icons-symbols_53876-133580.jpg?size=626&ext=jpg&uid=R56495885&ga=GA1.2.758818545.1690443804&semt=ais"
        data-src="#" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Scalability and <span class="text-muted">Performance</span></h2>
      <p class="lead">We believe that a successful web application should be scalable and performant. With our in-depth knowledge of backend technologies and best practices, we ensure that your software is designed and built to handle increasing user demand and deliver optimal performance even under high loads.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/free-photo/data-development-performance-research-concept_53876-122764.jpg?w=826&t=st=1691400239~exp=1691400839~hmac=c9aef146cc1e600e971b2d2ef3c670e3bcc05329d6f6f3f44309e7b88effef0e"
        data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
  
  <hr class="featurette-divider">

</div>
{% endblock %}