{% extends "layout.html" %}


{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to Duranz</h1>
    <p class="lead h5">Empowering Businesses with Cutting-Edge Software Solutions</p>
  </div>
</section>
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Expertise in <span class="text-muted">Backend Technologies</span></h2>
      <p class="lead">Our team comprises highly skilled developers who have extensive experience in working with various
        backend technologies. From server-side programming languages like Python, Node.js, and PHP to frameworks such as
        Django, Flask, Express.js, and Laravel, we have the expertise to handle complex backend development projects.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/free-photo/rear-view-programmer-working-all-night-long_1098-18697.jpg?w=996&t=st=1691399816~exp=1691400416~hmac=e0e57b0828b1317cf1748b11e35b5d50e78ffa81deb093990c741dd60533cb2d"
        data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Customized <span class="text-muted">Solutions</span></h2>
      <p class="lead"> We understand that every business has unique requirements. That's why we take a personalized approach to every project we undertake. We work closely with our clients to understand their specific needs and tailor our solutions accordingly. Whether you need a custom web application, an API integration, or a robust content management system, we've got you covered.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <!-- <img class="featurette-image img-fluid mx-auto" src="https://source.unsplash.com/1600x900/?programming"
        data-src="#" alt="Generic placeholder image"> -->
      <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/free-photo/configuration-operation-splution-system-icons-symbols_53876-133580.jpg?size=626&ext=jpg&uid=R56495885&ga=GA1.2.758818545.1690443804&semt=ais"
        data-src="#" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Scalability and <span class="text-muted">Performance</span></h2>
      <p class="lead">We believe that a successful web application should be scalable and performant. With our in-depth knowledge of backend technologies and best practices, we ensure that your software is designed and built to handle increasing user demand and deliver optimal performance even under high loads.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/free-photo/data-development-performance-research-concept_53876-122764.jpg?w=826&t=st=1691400239~exp=1691400839~hmac=c9aef146cc1e600e971b2d2ef3c670e3bcc05329d6f6f3f44309e7b88effef0e"
        data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>
  
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Security and <span class="text-muted">Data Protection</span></h2>
      <p class="lead">We prioritize the security of your data and the protection of your users' information. We implement industry-standard security measures, including encryption, secure authentication, and proper data handling practices, to ensure that your software is secure against potential threats.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/free-photo/business-corporate-protection-safety-security-concept_53876-64964.jpg?w=996&t=st=1691400351~exp=1691400951~hmac=4982aca8b0e2afe3f037642273b3a5d816c8b46532a307ed9f6850b75a1e9380"
        data-src="#" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Continuous Support and <span class="text-muted">Maintenance</span></h2>
      <p class="lead">Our relationship with our clients doesn't end after the project is delivered. We provide ongoing support and maintenance services to ensure that your software remains up-to-date, secure, and optimized. Whether you need bug fixes, feature enhancements, or technical assistance, our dedicated team is always there to support you.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/premium-photo/dedicated-service-creates-dedicated-customers-shot-young-man-using-headset-computer-modern-office_590464-34656.jpg?size=626&ext=jpg&uid=R56495885&ga=GA1.2.758818545.1690443804&semt=ais"
        data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">UI <span class="text-muted">Design</span></h2>
      <p class="lead">We prioritize the security of your data and the protection of your users' information. We implement industry-standard security measures, including encryption, secure authentication, and proper data handling practices, to ensure that your software is secure against potential threats.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/free-photo/representations-user-experience-interface-design_23-2150038912.jpg?w=996&t=st=1691402805~exp=1691403405~hmac=1c4316b7dc6a47290ba0c003808c6a928c890c8a4aeb0e37991a910f0f40e0da"
        data-src="#" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Mobile <span class="text-muted">Application</span></h2>
      <p class="lead">Our relationship with our clients doesn't end after the project is delivered. We provide ongoing support and maintenance services to ensure that your software remains up-to-date, secure, and optimized. Whether you need bug fixes, feature enhancements, or technical assistance, our dedicated team is always there to support you.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="https://img.freepik.com/premium-vector/mobile-applications-development-illustration_73903-335.jpg?size=626&ext=jpg&uid=R56495885&ga=GA1.2.758818545.1690443804&semt=ais"
        data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Block <span class="text-muted">Chain</span></h2>
      <p class="lead">We prioritize the security of your data and the protection of your users' information. We implement industry-standard security measures, including encryption, secure authentication, and proper data handling practices, to ensure that your software is secure against potential threats.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src=https://img.freepik.com/premium-vector/blockchain-network-background_115579-809.jpg?size=626&ext=jpg&uid=R56495885&ga=GA1.2.758818545.1690443804&semt=ais"
        data-src="#" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
</div>
<!-- /END THE FEATURETTES -->
{% endblock %}