{% extends "layout.html" %}
{% block content %}
<!-- <div class="container">
<div class=" m-4 w-75">
    <form method="post", enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
        </div>
        <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        <div class="form-group">
                {{ form.project.label(class="form-control-label") }}
                {% if form.project.errors %}
                    {{ form.project(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.project.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.project(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        <div class="form-group">
                {{ form.detail.label(class="form-control-label") }}
                {% if form.detail.errors %}
                    {{ form.detail(class="form-control form-control-lg is-invalid", rows=7) }}
                    <div class="invalid-feedback">
                        {% for error in form.detail.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.detail(class="form-control form-control-lg", rows=7) }}
                {% endif %}
            </div>
                <div class="form-group">
                    {{ form.sample_file.label() }}
                    {{ form.sample_file(class="form-control-file") }}
                    {% if form.sample_file.errors %}
                        {% for error in form.sample_file.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
</div> -->


<div class="container my-3">
  <div class="row">
    <!-- <div class="col-lg-4 col-md-6 mb-3">
      <div class="card shadow-lg bg-body">
        <div class="row g-0">
          <div class="col-4 px-2">
            <img
              src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202111/zerodha-sixteen_nine.jpg?size=1200:675"
              class="card-img-top pt-3 pl-2" alt="Zerodha">
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title"><a href="https://zerodha.com/open-account?c=GK5812">Open Account</a></h5>
              <p class="card-text">Flat 20 Per Order Zerodha</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card shadow-lg bg-body">
        <div class="row g-0">
          <div class="col-4 px-2 d-flex align-items-center justify-content-center pl-3">
            <img src="{{ url_for('static', filename='svg_images/favicon.ico') }}" class="card-img-top pt-1 w-75 h-75 "
              alt="Upstox" >
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title"><a href="https://prochartanalysis.com/">ProChart Analysis</a></h5>
              <p class="card-text">Analysis Website</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card shadow-lg bg-body">
        <div class="row g-0">
          <div class="col-4 pt-2 pl-3">
            <img src="{{ url_for('static', filename='svg_images/logo.png') }}"
              class="card-img-top pt-4" alt="Fyers">
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title"><a href="https://www.tutorwhizai.com/">Tutor Whizai</a></h5>
              <p class="card-text">website</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-3">
      <div class="card shadow-lg bg-body">
        <div class="row g-0">
          <div class="col-3 px-2 " >
            <img src="{{ url_for('static', filename='svg_images/favi.png') }}" class="card-img-top pt-4 w-75 pl-2" alt="Dhan">
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title"><a href="https://www.thearvindsharma.com/">Arvind Sharma</a></h5>
              <p class="card-text">Sport Website</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-4 col-md-6 mb-3">
      <div class="card shadow-lg bg-body">
        <div class="row g-0">
          <div class="col-4 px-2">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfWSfs9Gjz3swTP20-mHnT7XgmONBZN8EcTQ&usqp=CAU"
              class="card-img-top pt-4" alt="Angelone">
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title"><a
                  href="https://play.google.com/store/apps/details?id=com.msf.angelmobile&referrer=k602706::rne_source=rne_app_abma::rne_field2=rne_client5">Open
                  Account</a></h5>
              <p class="card-text">Flat 20 Per Order Angelone</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center text-center mb-4">
        <div class="col-5">
          <h3 class="h3 heading">My Clients</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/html.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/css.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/javascript.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/python.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/react-js.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/node-js.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
       
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/docker.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/go.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/aws.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/visual-studio-code.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/git.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/google-cloud-icon.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/postman.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>
        <div class="col-4 col-sm-4 col-md-2 my-2">
          <a href="#" class="client-logo"><img src="{{ url_for('static', filename='svg_images/react-native.svg') }}" alt="Image" class="img-fluid" width="65" height="65"></a>
        </div>

      </div>
    </div>
  </section>
{% endblock content %}